body{
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
p{
  visibility: hidden;
}

h1{
  display: none;

}

img{
  display: block;
  margin: 20px;
}

button{
  display: inline;
}