*{
  padding: 0;
  margin: 15px;
  box-sizing: border-box;

}
body{
  padding: 50px;
  
  font-size: 2rem;
  font-family: monospace;
  background-color: papayawhip;
}

a{
  text-decoration: none ;
  cursor: pointer;
  color: blue;
}

a:visited {
  color: purple;
}

a:hover, a:focus{
  color: dodgerblue;
}

a:active{
  color: red;
}

